{% extends "frappe/templates/base.html" %}

{% block favicon %}
<link rel="icon" href="{{ '/assets/tecponto_app/branding/favicon.svg' | abs_url }}" type="image/svg+xml">
<link rel="icon" href="{{ '/assets/tecponto_app/branding/favicon-32x32.png' | abs_url }}" sizes="32x32" type="image/png">
<link rel="icon" href="{{ '/assets/tecponto_app/branding/favicon-16x16.png' | abs_url }}" sizes="16x16" type="image/png">
<link rel="shortcut icon" href="{{ '/assets/tecponto_app/branding/favicon.ico' | abs_url }}" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ '/assets/tecponto_app/branding/apple-touch-icon.png' | abs_url }}" sizes="180x180">
<link rel="manifest" href="{{ '/assets/tecponto_app/branding/site.webmanifest' | abs_url }}">
<meta name="theme-color" content="#15181B">
{% endblock %}
